@import url('https://fonts.googleapis.com/css?family=Faster+One|Share+Tech+Mono');

body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  background: linear-gradient(-35deg, #92014b 0%, #91e965 100%);}


/*App Component*/
.audio-player {
  /*display: none;*/
}

/*Instructions Component*/
#instructions-container {
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: 40px auto;
  background: linear-gradient(to bottom, #3ed90a 0%, #3ecef1 100%);
  color: #f6f666;
  text-shadow:
   1px 1px 0 #999,
   1px 0 0 #999,
   0 1px 0 #999;

}

h1 {
  font-family: 'Faster One', cursive;
  font-size: 80px;
  text-shadow:
    -3px -3px 0 #999,
    -3px 3px 0 #999,
    -3px 0 0 #999,
    3px -3px 0 #999,
    3px 3px 0 #999,
    3px 0 0 #999,
    0 -3px 0 #999,
    0 3px 0 #999;
}

#link-to-drums {
  margin: 30px auto;
}

/*Drum Machine Component*/
#drum-machine-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  margin: 20px auto;
}

#play-controls {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: flex-end;
}

#play-button {
  margin: 10px 20px;
}

#visuals-link {
  margin: 10px 20px;
}

#instructions-link {
  margin: 10px 20px;
}

#drum-racks {
  display: flex;
  flex-direction: column;
}

.single-rack{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 20px;
}

.sample-name {
  width: 50px;
  margin: 0 20px;
  text-align: right;
}

.step {
  padding: 15px;
  background-color: black;
}

.step-on {
  background-color: red;
}

.step-off {
  background-color: blue;
}
